@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: azure;
    line-height: 1.8;
}


.container{
    width:80%;
    max-width:1200px;
    margin:0 auto;
}

nav{
    background-color: rgb(249, 249, 92);
    
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1.5em;

}

.logo{
    height: 6.5rem;   
}

.navbar-nav{
    display:block;
    padding: 0;
   text-align: right;
    
}


.navbar-nav button{
    font-size: 1rem;
    font-family: 'Carter One', sans-serif;
    padding: 0.5em 1em;
    background-color: #77adfd;
    border-radius: 50px;
    border: 2px solid white;
    color: azure;
    margin-bottom: 0.5rem;
    cursor: pointer;
}  

.navbar-nav button:hover{
    background-color: azure;
    color: #77adfd;
    border:2px solid azure;
}


.banner{
   background: url(img/dog-banner-3.jpg);
   width: 100%;
   min-height: 65vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
}

.banner-content{
    color: azure;
    font-size: 1.125rem;
    text-align:start;
    background: rgba(119, 172, 253, 0.464);
    padding: .5em .5em;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    max-width: 100%;
}



.banner-title, .banner-text{
    margin: 0;
}

.banner-btn{
    font-size: 1rem;
    font-family: 'Carter One', sans-serif;
    padding: 0.5em 1em;
    background-color: rgb(249, 249, 92);
    border-radius: 50px;
    border: none;
    color: black;
    margin-bottom: 0.5em;
    margin-top:.5em;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgb(0, 0, 0);
    transition: 250ms ease-in-out;
}

.link-cta-btn{
    width: 80%;
}

.banner-btn + .banner-btn{
    margin-left: 1em;
}


.banner-btn:hover{
    transform: scale(1.05);
}


.cta{
    background: black;
    padding:3em 1.5em;
    text-align: center;
}

.cta-btn{
    width: 80%;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Carter One', sans-serif;
    padding: .7em 1em;
    border-radius: 10px;
    background-color: yellow;
    color: black;
    transition: 250ms ease-in-out;
    margin-bottom: 1em;
}

.cta-btn:hover{
    transform: scale(1.05);
}

.cta-btn + .cta-btn{
    margin-top: 1em;
}


.who,
.what,
.cta{
    margin-bottom: 5em;
}


.who-main-title,
.what-main-title,
.dogs-title,
.benefits-title,
.articles-main-title{
    text-align: center;
    margin-top:2em;
    margin-bottom: 1.7em;
    font-size:2rem;
    position:relative;
    font-family: 'Carter One', sans-serif;
}


.who-main-title::before,
.what-main-title::before,
.dogs-title::before,
.benefits-title::before,
.articles-main-title::before{
  content:'';
  position: absolute;
  width:2em;
  height:.5rem;
  background: yellow;
  top:-5px;
}




.who-title,
.service-title{
    color:#77adfd;
    margin:0;
    font-size: 1.5rem;
}

.service-title{
    margin-top: .7em;
}


.who-img,
.sponsor-img,
.adopt-img{
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.sponsor-action{
    margin-top: 3em;
}

.sponsor-link{
    color: black;
    text-decoration: none;
}


.service{
    text-align: center;
    border-radius: 10px;
}

.service + .service{
    margin-top: 4em;
}

.service-icon{
 font-size: 3rem;
}


.sponsor,
.adopt,
.boop{
    background-color: black;
    padding: 1em 0;
}

.sponsor-content,
.adopt-content{
    color:azure;
    text-align: center;
    margin-bottom: 5em;
}

.sponsor-title,
.adopt-title,
.boop-title{
    color:yellow;
    font-size: 2rem;
    text-align: center;
    line-height: 1.2em;
}



.dogs-container{
    display: grid;
    grid-template-columns: 100%;

}


.dog-card{
    margin-bottom: 5em;
   box-shadow: 5px 5px 10px 0 rgba(119, 172, 253, 0.464);
   transition: 250ms ease-in-out;
   background-color: black;
   border-radius: 6px;
}


.dog-card:hover{
   transform: scale(1.05);
}


.card-img{
    width: 100%;
    border-radius: 6px;
}

.card-footer{
    color: azure;
    width: 100%;
    text-align:center;
    margin: 0 auto;
    padding:1em;
    border: none;
}


.dog-name{
    margin:0;
    font-size: 1.5rem;
}


.adopt-btn{
    text-align: center;
}


.adopt-dogs{
    width: 70%;
    padding: 1em 1em;
    border-radius: 10px;
    background-color: yellow;
    cursor: pointer;
    margin-bottom: 5em;
    border: none;
    box-shadow: 3px 3px 10px 0px rgb(0, 0, 0);
    transition: 250ms ease-in-out;
}

.adopt-dogs a{
    color: black;
    text-decoration: none;
    font-family: 'Carter One', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    position: relative;
}


.adopt-dogs:hover{
    transform: scale(1.05);
}


.benefits{
    margin-bottom: 5em;
}


.benefits-box{
    margin-bottom: 3em;
}


.benefits-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.benefit p{
    line-height: 1.2rem;
}

.benefit p::before{
    content: '\f1b0';
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    color: yellow;
    margin-right: .5em;
}


.benefits-poster{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 100%;
}



.poster1{
    grid-column: 1/ span 3;
    grid-row: 1/ span 2;
}


.poster2{
    grid-column: 2/ span 2;
    grid-row: 3/ span 2;
}

.poster3{
    grid-column: 3/ span 2;
    grid-row: 2/ span 2;
}


.benefit-img{
    width: 100%;
    border-radius: 10px;
}



.boop-img{
    width: 100%;
    border-radius: 50%;
}


.articles{
    margin-bottom: 5em;
    text-align: center;
}

.articles-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.article-item{
    margin-bottom: 1.5em;
}

.article-link{
    color: #77adfd;
}

.article-link:hover{
    color: black;
}




.footer{
    background-color: rgb(249, 249, 92);
    padding: 2em 0;
}

.footer-title{
    font-size: 2rem;
    margin: 0;
}

.footer-logo{
    width: 55%;
}

.footer-img{
    width: 100%;
}


.contact-box{
    align-self: center;
    margin-bottom: 2em;
}

.contact-link{
    text-decoration: none;
    color: black;
}

.street::before{
    content: '\f3c5';
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    color: #77adfd;
    margin-right: 1em;
}

.mail::before{
    content: '\f0e0';
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    color: #77adfd;
    margin-right: .8em;
}

.phone::before{
    content: '\f095';
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    color: #77adfd;
    margin-right: .8em;
}



.social-icon{
    font-size:1.3rem;
    color: #77adfd;
}

.social-icon:hover{
    cursor: pointer;
    color: #3780ef;
}

.social-icon + .social-icon{
    margin-left: 1em;
}

.links-title{
    font-size: 1.7rem;
    margin: 0;
}

.links-list{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.links-item{
    margin-bottom:.5em
}

.links-link{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.links-link:hover{
    color: rgb(114, 114, 114);
}

.link-home::before{
    content: '\f015';
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    margin-right: .5em;
    color: #77adfd;
}

.link-dogs::before{
    content: '\f6d3';
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    margin-right: .5em;
    color: #77adfd;
}

.link-adopt::before{
    content: '\f004';
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    margin-right: .5em;
    color: #77adfd;
}


.link-donate::before{
    content: '\e4c6';
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    margin-right: .5em;
    color: #77adfd;
}


.link-sponsor::before{
    content:'\f4d3';
    display:inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    margin-right: .5em;
    color: #77adfd;
}


.copy{
    background-color: black;
    color: azure;
    text-align: center;
    padding: 1em 0;
}

.copy-text{
    margin: 0;
}






.boop-modal{
    position: fixed;
    z-index: 10;
    top: 1em;
    left: 2em;
    right: 2em;
    background-color: azure;
    box-shadow: 0 0 0 50em rgba(0, 0, 0, .5);
    overflow-x: hidden;
    padding: .5em;
    border-radius: 15px;
    border-top: 4px dashed #77adfd;
    border-bottom: 4px dashed #77adfd;

    display: none;
}

.is-open{
    display:block;
}


.close-btn{
    background: azure;
    position: fixed;
    top: .8em;
    left: 1.5em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 .5 1 rgb(0, 0, 0);
    text-align: center;
}


.close-btn:hover{
    background-color:#77adfd ;
}

.boop-modal-title{
    font-size: 1.3rem;
    margin-top:.4em;
    position: relative;
}


.boop-modal-title::before,
.boop-modal-title::after{
    content: '\f10e';
    display:inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    color: #77adfd;
}

.boop-modal-title::before{
    margin-right:.3em;
}

.boop-modal-title::after{
    margin-left: .3em;
}




.boop-modal-text{
    margin-bottom: .4em;
}

.boop-modal-img{
    width: 100vw;
    max-width: initial;
    margin: 0 calc(50% - 50vw);
    height: 50vw;
    object-fit: cover;
}


.close-btn:hover{
    color: azure;
    cursor: pointer;
}



@media (min-width:600px) {
  .boop-modal{
    top: 1em;
    left: 5em;
    right: 5em;
    padding: .3em;
  }

  .close-btn{
    left: 5em;
  }


  .boop-modal-img{
    height: 40vw;
  }


  .banner-content{
    max-width: 45%;
    padding: 1em .5em;
    bottom: 2rem;
    border-radius: 0 10px 10px 0;
    font-size: 1.5rem;
  }
 
  .d-grid,
  .d-grid-dogs{
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 2.5em;
    row-gap: 3em;
  }



   .service + .service{
    margin: 0;
   }


   .boop-content{
    width: 60%;
    margin: 0 auto;
   }

   .contact-box{
    margin-bottom: 2em;
   }
}




@media (min-width:800px) {
   .boop-modal{
    top: 3em;
    left: 1;
    right: 1;
   }

   .close-btn{
    left: 5em;
    top: 3em;
   }

   .boop-header{
    width: 45%;
   }

   .boop-modal-content{
    width: 45%;
    align-self: center;
    font-size: 1.5rem;
   }

   .boop-modal-img{
    width: 100%;
    object-fit:cover;
    margin: 0;
    border-radius: 10px;
   }

   .d-flex{
    display: flex;
    justify-content: space-between;
  }

  .d-flex-cta{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .who-content,
  .sponsor-content,
  .adopt-content,
  .benefits-box{
    width: 55%;
  }

  .sponsor-content{
    margin: 0;
  }

  .who-main-img,
  .sponsor-poster,
  .adopt-poster,
  .benefits-poster{
    width: 40%;
  }

  .sponsor-poster,
  .adopt-poster{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .adopt{
    padding-bottom: 0;
  }

  .cta{
    padding: 2em 0 2em 0;
  }

  .cta-btn + .cta-btn{
    margin: 0 0 0 1em ;
  }

  
  .d-grid{
    column-gap: 5em;
    row-gap: 5em;
  }

  .d-grid-dogs{
    grid-template-columns: repeat(3, 1fr);
  }


  .boop-content{
    width: 45%;
   }

    .footer-logo,
    .links{
        width: 25%;
    }

   .contact-box{
    width: 35%;
   }
}


@media (min-width:1100px) {
    .boop-modal-img{
       height: 25vw;
    }


    .banner-content{
        padding: 1.5em 1em;
        bottom: 1em;
        font-size: 2rem;
    }

    .banner-btn{
        font-size: 1.5rem;
    }

    .who-title,
    .service-title{
        font-size: 2rem;
    }

    .who-text,
    .service-text,
    .benefit{
        font-size: 1.3rem;
    }

    .benefit{
        margin-bottom: 2em;
    }

    .who-main-title,
    .what-main-title,
    .dogs-title,
    .benefits-title,
    .adopt-title,
    .boop-title,
    .articles-main-title{
    font-size:2.5rem;
    }


 

    .sponsor-title{
        font-size: 2.5rem;
    }

    .sponsor-action{
        width: 50%;
        margin: 2em auto;
    }

    .sponsor-text,
    .adopt-text,
    .article-link{
        font-size: 1.3rem;
    }


    .adopt{
        padding-bottom: 5em;
    }

    .adopt-btn{
        display: flex;
        justify-content: space-around;
    }

    .adopt-dogs{
        width: 40%;
    }

    .adopt-img,
    .sponsor-img{
        height: 100%;
    }

    .d-grid{
        column-gap: 6em;
    }


    .boop-content{
        width: 40%;
       }

       .contact-box{
        margin-bottom: 0;
    }   
}


